{
  "extends": "airbnb",
  "rules": {
    "brace-style": ["error", "stroustrup"],
    "comma-dangle": "off",
    "linebreak-style": "off",
    "max-len": ["error", 120],
    "no-console": "off",
    "no-param-reassign": "off",
    "no-unused-vars": ["error", { "args": "none" }],
    "prefer-template": "off"
  }
}